{% extends 'admin/base.html.twig' %}
{% block content %}
    <div data-options="region:'center',title:'消息管理'" style="padding:5px;background:#eee;width:100%">
        <div id="p" class="easyui-panel" title="消息编辑"
             style="padding:10px;background:#fafafa;width:100%"
             data-options="iconCls:'icon-tip',closable:false,
                collapsible:false,minimizable:false,maximizable:false" >
            类型：
            <select id="type" class="easyui-combobox" name="type" style="width:90%;">
                <option value="1">新闻</option>
                <option value="2">推送</option>
                <option value="3">消息</option>
            </select><br/><br/>
            标题：
            <input class="easyui-textbox" style="width:90%" type="text" id="title"><br/><br/>
            内容：
            <input class="easyui-textbox" style="width:90%" type="text" id="detail"><br/><br/>
            图片：
            <input class="easyui-textbox" style="width:90%" type="text" id="image"><br/><br/>
            接收：
            <select id="group" class="easyui-combobox" name="receiver" style="width:90%;">
                <option value="-1">所有人</option>
                <option value="0">管理员</option>
                <option value="1">个人</option>
            </select><br/><br/>
            <a id="submit" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="saveMessage()">保存</a>
            <a id="remove" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="removeMessage()">删除</a>
            <a id="back" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-back'" onclick="messageBack()">返回</a>
        </div>
        <br/>

        <table class="easyui-datagrid" title="历史消息列表" id="dg" style="width:100%"
               data-options="rownumbers:true,singleSelect:true,pagination:true" url="/admin/basic/message/edit" method='post'>
            <thead>
            <tr>
                <th data-options="field:'id'">ID</th>
                <th data-options="field:'title'">标题</th>
                <th data-options="field:'time'" formatter="dateFormatter">发送日期</th>
                <th data-options="field:'type'">类型</th>
                <th data-options="field:'group'">接收人</th>
            </tr>
            </thead>
        </table>
    </div>
    <script>
        function dateFormatter(val,row) {
            console.log(val);
            var d = new Date(val);
            return [d.getMonth()+1,
                    d.getDate(),
                    d.getFullYear()].join('/')+' '+
                [d.getHours(),
                    d.getMinutes(),
                    d.getSeconds()].join(':');
        }
        window.onload = function () {
            $("#dg").datagrid({
                onClickRow: edit
            });
            $("#p").hide();
        };
        function edit(row,val){
            $("#title").textbox("setValue",val.title);
            $("#detail").textbox("setValue",val.detail);
            $("#image").textbox("setValue",val.image);
            $('#type').combobox("select",val.type);
            $('#group').combobox("select",val.group);
            $('#visible').prop('checked', val.visible);
            $('#p').show(500);
        }
        function messageBack(){
            $("#p").hide(500);
        }
    </script>
{% endblock %}