{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [">= 0%", "not unreleased versions"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime"]
}
