{% extends 'admin/base.html.twig' %}
{% block content %}
    <div data-options="region:'center',title:'评论管理'" style="padding:5px;background:#eee;width:100%">
        <div id="p" class="easyui-panel" title="前排提醒"
             style="padding:10px;background:#fafafa;width:100%"
             data-options="iconCls:'icon-tip',closable:false,
                collapsible:false,minimizable:false,pagination:true,maximizable:false">
            <p>
                在相册页面的评论栏内也可以删除评论！
            </p>
        </div>
        <table class="easyui-datagrid" title="评论列表" id="dg" style="width:100%"
               data-options="rownumbers:true,singleSelect:false,pagination:true,toolbar:'#tb'" url="/admin/media/comment/edit" method='post'>
            <thead>
            <tr>
                <th data-options="field:'checkbox'" checkbox=true></th>
                <th data-options="field:'id'">ID</th>
                <th data-options="field:'time'" formatter="dateFormatter">时间</th>
                <th data-options="field:'postUser'" formatter="userFormatter">用户</th>
                <th data-options="field:'content'">内容</th>
            </tr>
            </thead>
        </table>

    </div>
    <script>
        function removeComments(){
            var selected = $("#dg").datagrid("getChecked");
            var a = $.map(selected, function(val,i){
                return val.id;
            });
            var data = {};
            data["delete"] = JSON.stringify(a);
            $.post("/admin/media/comment/edit",data, function(message){
                $("#dg").datagrid("reload");
            },"json");
        }
        window.onload = addPager;
        function addPager(){
            var pager = $('#dg').datagrid('getPager');
            pager.pagination({
                showPageList:true,
                buttons:[{
                    iconCls:'icon-cancel',
                    handler:removeComments
                }]
            });
        }
        function userFormatter(val,row){
            return val.username;
        }
        function boolFormatter(val,row){
            if(val)
                return "是";
            else
                return "否";
        }
        function dateFormatter(val,row) {
            Number.prototype.padLeft = function(base,chr){
                var  len = (String(base || 10).length - String(this).length)+1;
                return len > 0? new Array(len).join(chr || '0')+this : this;
            };
            var d = new Date(val),
                dformat = [d.getFullYear(),
                        (d.getMonth()+1).padLeft(),
                        d.getDate().padLeft()].join('/') +' ' +
                    [d.getHours().padLeft(),
                        d.getMinutes().padLeft(),
                        d.getSeconds().padLeft()].join(':');
            return dformat;
        }
    </script>
{% endblock %}