<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>删除成功</title>
</head>
<body>
    <span>照片已删除成功！<br/>
    <strong>可能需要重新进入相册才能看到变化。</strong></span>
<script>
    setTimeout(function(){
        window.close()
    },1000);
</script>
</body>
</html>