{% extends 'admin/base.html.twig' %}
{% block content %}
    <div data-options="region:'center',title:'相册管理'" style="padding:5px;background:#eee;width:100%">
        <div id="p" class="easyui-panel" title="前排提醒"
             style="padding:10px;background:#fafafa;width:100%"
             data-options="iconCls:'icon-tip',closable:false,
                collapsible:false,minimizable:false,pagination:true,maximizable:false">
            <p>
                只有当相册设置了封面图后才会在页面上显示！
            </p>
        </div>
        <div id="p" class="easyui-panel" title="新建相册"
             style="padding:10px;background:#fafafa;width:100%"
             data-options="iconCls:'icon-tip',closable:false,
                collapsible:false,minimizable:false,maximizable:false">
            标题：
            <input class="easyui-textbox" style="width:300px" type="text" id="name">
            <a id="submit" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="new1()">新建</a>
        </div>
        <br/>

        <table class="easyui-datagrid" title="相册列表" id="dg" style="width:100%"
               data-options="rownumbers:true,singleSelect:true">
            <thead>
            <tr>
                <th data-options="field:'id'">ID</th>
                <th data-options="field:'title'">标题</th>
                <th data-options="field:'priority'">优先级</th>
                <th data-options="field:'time'" formatter="dateFormatter">上传日期</th>
                <th data-options="field:'photoCount'">照片数</th>
                <th data-options="field:'originCount'">精选数</th>
                <th data-options="field:'cover'" formatter="boolFormatter">封面</th>
                <th data-options="field:'public'" formatter="boolFormatter">公开</th>
                <th data-options="field:'visible'" formatter="boolFormatter">可见</th>
            </tr>
            </thead>
        </table>
        <div id="dd" hidden>
            <form id="ff" method="post" style="padding: 5px;width: 100%">
                <div>
                    <label for="name">标题：</label>
                    <input id="title" class="easyui-validatebox" type="text" name="title" style="width:90%"/>
                </div>
                <div>
                    <label for="name">介绍：</label>
                    <textarea id="description" class="easyui-validatebox" name="description"  style="width:90%"></textarea>
                </div>
                <div>
                    <label for="name">优先度：</label>
                    <input id="priority" class="easyui-validatebox" type="text" name="priority" style="width:90%"/>
                </div>
                <div>
                    <label for="name">封面：</label>
                    <input id="cover" class="easyui-validatebox" type="text" name="cover" style="width:90%"/>
                </div>
                <div>
                    <label for="public">公开： </label>
                    <input id="public" name="public" type="checkbox" />
                </div>
                <div>
                    <label for="visible">可见： </label>
                    <input id="visible" name="visible" type="checkbox" />
                </div>
                <div>
                    <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="editPhotos()">提交</a>
                    <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="removePhotos()">删除</a>
                    <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-filter'" onclick="goToPhotos()">列表</a>
                    <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="viewPhotos()">预览</a>

                </div>
            </form>
        </div>


    </div>
    <script>
        loadData();
        function edit(row,val){
            $("#title").val(val.title).change();
            $("#description").val(val.description).change();
            $("#priority").val(val.priority).change();
            if(val.cover)
                $("#cover").val(val.cover.id).change();
            $('#public').prop('checked', val.public);
            $('#visible').prop('checked', val.visible);
            $('#dd').dialog({
                title: '修改属性',
                width: 300,
                height: 300,
                closed: true
            });
            $('#dd').dialog("open");
        }
        window.onload = function () {
            $("#dg").datagrid({
                onClickRow: edit
            });
        };
        function editPhotos(){
            var selected = $("#dg").datagrid("getSelected");
            var data = {};
            data["id"] = selected.id;
            data["title"] = $("#title").val();
            data["description"] = $("#description").val();
            data["cover"] = $("#cover").val();
            data["priority"] = $("#priority").val();
            data["visible"] = $("#visible").is(":checked");
            data["public"] = $("#public").is(":checked");
            $.post("/admin/media/gallery/edit",data, function(message){
                $('#dd').dialog("close");
                loadData();
            },"json");
        }
        function removePhotos(){
            var selected = $("#dg").datagrid("getSelected");
            var data = {};
            data["id"] = selected.id;
            data["delete"] = "true";
            $.post("/admin/media/gallery/edit",data, function(message){
                $('#dd').dialog("close");
                loadData();
            },"json");
        }
        function viewPhotos(){
            var selected = $("#dg").datagrid("getSelected");
            window.open("/#/media/gallery/" + selected.id)
        }
        function goToPhotos(){
            var selected = $("#dg").datagrid("getSelected");
            window.open("/admin/media/photo?gallery_id=" + selected.id)
        }
        function nameFormatter(val,row){
            if(val === null){
                return "未指定";
            }else{
                return val;
            }
        }
        function boolFormatter(val,row){
            if(val)
                return "是";
            else
                return "否";
        }
        function dateFormatter(val,row) {
            //console.log(val);
            Number.prototype.padLeft = function(base,chr){
                var  len = (String(base || 10).length - String(this).length)+1;
                return len > 0? new Array(len).join(chr || '0')+this : this;
            };
            var d = new Date,
                dformat = [d.getFullYear(),
                        (d.getMonth()+1).padLeft(),
                        d.getDate().padLeft()].join('/') +' ' +
                    [d.getHours().padLeft(),
                        d.getMinutes().padLeft(),
                        d.getSeconds().padLeft()].join(':');
            return dformat;
        }
        function loadData(){
            $.post( "/admin/media/gallery/edit", function( data ) {
                console.log(data.data);
                $('#dg').datagrid({
                    data: data.data,
                    onClickRow: edit
                });
            });
        }
        function new1(){
            $.post("/admin/media/gallery/edit", {id:-1,title:$("#name").val()}, function(data){loadData();});
        }
    </script>
{% endblock %}