{% extends 'admin/base.html.twig' %}
{% block content %}
<div data-options="region:'center',title:'照片管理'" style="padding:5px;background:#eee;width:100%">
    <div id="p" class="easyui-panel" title="前排提醒"
         style="padding:10px;background:#fafafa;width:100%"
         data-options="iconCls:'icon-tip',closable:false,
                collapsible:false,minimizable:false,pagination:true,maximizable:false">
        <p>
            请不要作死加载过多的照片！
        </p>
    </div>
    <br/>
    <table class="easyui-datagrid" title="照片列表" id="dg" style="width:100%"
           data-options="rownumbers:true,singleSelect:false,pagination:true,toolbar:'#tb'" url="/admin/media/photo/edit" method='post'>
        <thead>
        <tr>
            <th data-options="field:'checkbox'" checkbox=true></th>
            <th data-options="field:'id'">ID</th>
            <th data-options="field:'gallery'" formatter="nameFormatter">相册</th>
            <th data-options="field:'time'" formatter="dateFormatter">创建日期</th>
            <th data-options="field:'origin'" formatter="boolFormatter">精选</th>
            <th data-options="field:'public'" formatter="boolFormatter">公开</th>
            <th data-options="field:'visible'" formatter="boolFormatter">可见</th>
        </tr>
        </thead>
    </table>
    <div id="tb" style="padding:2px 5px;">
        相册:
        <select id="combobox" class="easyui-combobox" panelHeight="auto" style="width:100px">
            {% if gallery_id > 0 %}
            <option value="{{ gallery_id }}">指定</option>
            {% endif %}
            <option value="null">未分配</option>
            <option value="all">所有</option>
        </select>
    </div>
    <div id="dd" hidden>
        <form id="ff" method="post" style="padding: 5px;width: 100%">
            <div>
                <label for="name">相册：</label>
                <input id="gallery" class="easyui-validatebox" type="text" value="{{ gallery_id }}" name="name" data-options="required:true" />
            </div>
            <div>
                <label for="public">公开： </label>
                <input id="public" name="public" type="checkbox" />
            </div>
            <div>
                <label for="visible">可见： </label>
                <input id="visible" name="visible" type="checkbox" />
            </div>
            <div>
                <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="editPhotos()">提交</a>
                <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="removePhotos()">删除</a>
            </div>
        </form>
    </div>

</div>
<script>
    function editPhotos(){
        var selected = $("#dg").datagrid("getChecked");
        var a = $.map(selected, function(val,i){
            return val.id;
        });
        var data = {};
        data["id"] = a;
        data["gallery"] = $("#gallery").val();
        data["visible"] = $("#visible").is(":checked");
        data["public"] = $("#public").is(":checked");
        $.post("/admin/media/photo/edit",JSON.stringify(data), function(message){
            $('#dd').dialog("close");
            $("#dg").datagrid("reload");
        },"json");
    }
    function removePhotos(){
        var selected = $("#dg").datagrid("getChecked");
        var a = $.map(selected, function(val,i){
            return val.id;
        });
        var data = {};
        data["id"] = a;
        data["delete"] = "true";
        $.post("/admin/media/photo/edit",JSON.stringify(data), function(message){
            $('#dd').dialog("close");
            $("#dg").datagrid("reload");
        },"json");
    }
    window.onload = addPager;
    function addPager(){
        var pager = $('#dg').datagrid('getPager');
        pager.pagination({
            showPageList:true,
            buttons:[{
                iconCls:'icon-search',
                handler:function(){
                    $('#dd').dialog({
                        title: '修改属性',
                        width: 300,
                        height: 300,
                        closed: true
                    });
                    $('#dd').dialog("open");
                    //$('#dd').dialog('refresh', 'new_content.php');
                }
            }],
            pageList: [10000,5000,2000,1000,500,100,10],
            pageSize: 10000
        });
    }


    $('#combobox').combobox({
        onSelect:function(record){
            $('#dg').datagrid({
                url:"/admin/media/photo/edit?filter="+record.value
            });
            addPager();
        }
    });
    function nameFormatter(val,row){
        if(val === null){
            return "未指定";
        }else{
            return val;
        }
    }
    function boolFormatter(val,row){
        if(val)
            return "是";
        else
            return "否";
    }
    function dateFormatter(val,row) {
        Number.prototype.padLeft = function(base,chr){
            var  len = (String(base || 10).length - String(this).length)+1;
            return len > 0? new Array(len).join(chr || '0')+this : this;
        };
        var d = new Date,
            dformat = [d.getFullYear(),
                    (d.getMonth()+1).padLeft(),
                    d.getDate().padLeft()].join('/') +' ' +
                [d.getHours().padLeft(),
                    d.getMinutes().padLeft(),
                    d.getSeconds().padLeft()].join(':');
        return dformat;
    }
    function loadData(){
        $.post( "/admin/media/photo/edit", function( data ) {
            //console.log(data.data);
            $('#dg').datagrid({
                data: data.data
            });

        });
    }
</script>
{% endblock %}