{% extends 'admin/base.html.twig' %}
{% block content %}
<div data-options="region:'center',title:'照片上传'" style="padding:5px;background:#eee;width:100%">
    <div id="p" class="easyui-panel" title="上传须知"
         style="padding:10px;background:#fafafa;width:100%"
         data-options="iconCls:'icon-tip',closable:false,
                collapsible:false,minimizable:false,maximizable:false">
        <p>
            1. 请不要将并发数调的过大，推荐为1或2，否则可能会导致服务器Gateway Timeout <br/>
            2. 处理2000万像素的照片大概需要8秒左右，请在上传时耐心等待 <br/>
            3. 最大可以上传的文件大小为50M，支持PNG、JPG等常用图片格式 <br/>
            4. 为保证照片质量，请避免上传长宽中任一一条低于2000的图片 <br/>
            5. Checkbox上打钩的照片将进入"精选"区，也就是说，将支持原图，未打钩的将不支持原图 <br/>
            6. 请在上传完成后进入相册管理模块内关联照片
        </p>
    </div>
    <br/>
    <div style="width:100%">
        选择照片：
        <input id="myFile" type="file" multiple accept="image/*">
        并发数（尚未支持）：
        <input id="ss" class="easyui-numberspinner" style="width:80px;"
               required="required" data-options="min:1,max:4,editable:false" disabled>
        <a id="submit" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="upload(0)">开始上传</a>
    </div>
    <br/>

    <table id="dg" class="easyui-datagrid" style="width:100%">
    </table>
</div>
<script type="application/javascript">
    var data = new Array();
    var passed = true;

    function progressFormatter(value, rowData, rowIndex) {
        var htmlstr = '<div id="p" class="easyui-progressbar progressbar" style="width: 398px; height: 20px;"><div class="progressbar-text" style="width: 398px; height: 20px; line-height: 20px;">' + value + '</div><div class="progressbar-value" style="width: ' + value + '; height: 20px; line-height: 20px;"><div class="progressbar-text" style="width: 398px; height: 20px; line-height: 20px;">' + value + '</div></div></div>';
        return htmlstr;
    }
    function reloadData(){
        var rows = $('#dg').datagrid("getChecked");
        $('#dg').datagrid({
            data: data
        });
        $('#dg').datagrid('reload');
        $.each(rows,function(index,value){
            $('#dg').datagrid('checkRow',value.index);
        });
    }
    $('#dg').datagrid({
            columns:
                [[
                    {field: 'original', title: '原图', checkbox: true},
                    {field: 'filename', title: '文件名'},
                    {field: 'size', title: '大小'},
                    {field: 'status', title: '状态'},
                    {field: 'progress', title: '上传进度', width: 410, formatter: progressFormatter}
                ]]
        }
    );
    $('input[type="file"]').change(function(e){
        data = new Array();

        var files = e.target.files;
        //console.log(111);
        $.each(files, function (index, value) {
            data.push({
                index: index,
                filename: value["name"],
                size: humanFileSize(value["size"]),
                status: "等待上传",
                progress: '0%'
            });
        });

        reloadData();
    })



    function humanFileSize(bytes, si) {
        var thresh = si ? 1000 : 1024;
        if (Math.abs(bytes) < thresh) {
            return bytes + ' B';
        }
        var units = si
            ? ['kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
            : ['KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB'];
        var u = -1;
        do {
            bytes /= thresh;
            ++u;
        } while (Math.abs(bytes) >= thresh && u < units.length - 1);
        return bytes.toFixed(1) + ' ' + units[u];
    }
    function getChecked(i){
        passed = false;
        $.each($('#dg').datagrid('getChecked'),function(index,value){
            if(value.index == i) {
                console.log("find");
                passed = true;
            }
        });

    }
    function upload(i){

        if(i>=$('#myFile')[0].files.length){
            $("#upload").filebox('readonly',false);
            //$("#submit").linkbutton("disabled",false);
            $.messager.alert('提示','所有照片已上传完毕','info');
            return;
        }else{
            $("#upload").filebox('readonly',true);
            //$("#submit").linkbutton("disabled",true);
        }
        getChecked(i);
        var formData = new FormData();
        formData.append('photo', $('#myFile')[0].files[i]);
        formData.append('allowOrigin',passed);
        data[i].status = "上传中";
        $.ajax({
            url: '/media/gallery/upload',
            type: 'POST',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            async: true,
            xhr: function()
            {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress", function(evt){
                    if (evt.lengthComputable) {
                        var percentComplete = Math.floor(evt.loaded / evt.total *100);
                        data[i].progress = percentComplete + "%";
                        reloadData();
                    }
                }, false);
                xhr.upload.addEventListener("load", function(evt){
                    data[i].progress = "100%";
                    data[i].status = "处理中";
                    reloadData();
                }, false);
                return xhr;
            },
            success: function(res) {
                data[i].status = "上传成功";
                reloadData();
                upload(i+1);
            },
            error: function(res) {
                data[i].status = "上传失败";
                reloadData();
                upload(i+1);
            }
        });
    }


</script>
{% endblock %}