<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="jquery,ui,easy,easyui,web">
    <meta name="description" content="easyui help you build your web page easily!">
    <title>NFLS.IO 管理中心</title>
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        function showcontent(language) {
            $('#content').html('Introduction to ' + language + ' language');
        }

        $(function () {
            showcontent('java');
        });
    </script>
</head>
<body class="easyui-layout">
<div data-options="region:'north',title:'NFLS.IO管理中心',split:true" style="height:100px;">
    <h4>欢迎您，test！</h4>
    这里应该是公告。
</div>
<div data-options="region:'west',title:'模块',split:true" style="width:100px;"></div>
<div data-options="region:'center',title:'相册照片上传'" style="padding:5px;background:#eee;">
    <div id="p" class="easyui-panel" title="上传须知"
         style="padding:10px;background:#fafafa;"
         data-options="iconCls:'icon-tip',closable:false,
                collapsible:false,minimizable:false,maximizable:false">
        <p>
            1. 请不要将并发数调的过大，推荐为1或2，否则可能会导致服务器Gateway Timeout <br/>
            2. 处理2000万像素的照片大概需要8秒左右，请在上传时耐心等待 <br/>
            3. 最大可以上传的文件大小为50M，支持PNG、JPG等常用图片格式 <br/>
            4. 为保证照片质量，请避免上传长宽中任一一条低于2000的图片 <br/>
            5. Checkbox上打钩的照片将进入"精选"区，也就是说，将支持原图，未打钩的将不支持原图 <br/>
            6. 请在上传完成后进入相册管理模块内关联照片
        </p>
    </div>
    <br/>
    <div>
        选择照片：
        <input id="upload" class="easyui-filebox" accept="image/*" style="width:300px" multiple >
        并发数：
        <input id="ss" class="easyui-numberspinner" style="width:80px;"
               required="required" data-options="min:1,max:4,editable:false">
        <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">开始上传</a>
    </div>
    <br/>

    <table id="dg" class="easyui-datagrid">
    </table>
</div>
<script type="application/javascript">
    function progressFormatter(value, rowData, rowIndex) {
        var htmlstr = '<div id="p" class="easyui-progressbar progressbar" style="width: 398px; height: 20px;"><div class="progressbar-text" style="width: 398px; height: 20px; line-height: 20px;">' + value + '</div><div class="progressbar-value" style="width: ' + value + '; height: 20px; line-height: 20px;"><div class="progressbar-text" style="width: 398px; height: 20px; line-height: 20px;">' + value + '</div></div></div>';
        return htmlstr;
    }
    $('#dg').datagrid({
            columns:
                [[
                    {field: 'original', title: '原图', checkbox: true},
                    {field: 'filename', title: '文件名'},
                    {field: 'size', title: '大小'},
                    {field: 'status', title: '状态'},
                    {field: 'progress', title: '上传进度', width: 410, formatter: progressFormatter}
                ]]
        }
    );
    console.log("ok2");
    $('#upload').filebox({
        onChange: function () {
            var files = $('#upload').filebox("files");
            var data = new Array();
            $.each(files, function (index, value) {
                data.push({
                    filename: value["name"],
                    size: humanFileSize(value["size"]),
                    status: "等待上传",
                    progress: '20%'
                });
            });
            console.log(data);
            $('#dg').datagrid({
                data: data
            });
            $('#dg').datagrid('reload');
        }
    });

    function humanFileSize(bytes, si) {
        var thresh = si ? 1000 : 1024;
        if (Math.abs(bytes) < thresh) {
            return bytes + ' B';
        }
        var units = si
            ? ['kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
            : ['KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB'];
        var u = -1;
        do {
            bytes /= thresh;
            ++u;
        } while (Math.abs(bytes) >= thresh && u < units.length - 1);
        return bytes.toFixed(1) + ' ' + units[u];
    }


</script>
</body>
</html>