<html><head><meta charset="UTF-8"><meta http-equiv="Content-Type" content="text/html; charset=uft-8"><title>500</title>
<style>
.full{
    width:100%;
    max-width:600px;
}
.bus{
    font-family:SimSun;
}

@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);
</style>
</head>
<body class="vsc-initialized">
<!-- <center><h1>666 No Lick Dog</h1></center> -->
<center><p>正常的服务：<a href="https://dl.nfls.io">临时往卷下载</a>&nbsp;&nbsp;<a href="https://search.nfls.io">往卷以题搜题</a>&nbsp;&nbsp;<a href="https://mail.nfls.io">NFLSIO邮箱</a>&nbsp;&nbsp;<a href="https://xzd.nfls.io">谢祖地的博客</a><br/>Minecraft 服务器：1.13.2</p></center>
<hr>
<center><h1 class="bus"> <p style="color: #ff0000"><span style="background-color:black"> &nbsp停止服务&nbsp500&nbsp停止服务&nbsp </span> </p> </h1></center>
<center><h1 class="bus"> <p><div><span style="background-color:black;color: #ff0000">&nbsp500</span><span style="background-color:black;color: #ff9900">&nbsp&nbsp 停&nbsp止&nbsp服&nbsp务&nbsp </span></div> </p> </h1></center>
<center><h1>非要用？不想坐500路？那就坐这个</h1></center>
<center><img src="uploads/3.png" alt="3路循环线开往随家仓"></center>
<center><h1>日语内容非胡椒地提供，隧道先生对日语内容不承担任何责任</h1></center>
<hr>
<center><p>この電車は山手線 外回り 品川・渋谷方面行きです。</p></center>
<center><img class="full" src="uploads/IMG_5947.JPG"></center>
<center><img class="full" src="uploads/IMG_5948.JPG"></center>
<hr><center>顾平德女装跑路服务器</center>
<center>胡椒地公共交通车辆厂制造</center>



<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
