<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div id="app">

    <br/>
    <span>您当前的浏览器无法完全兼容我们的网站</span>
    <br/>
    <span>我们推荐使用最新版的Chrome进行访问</span>
    <br/>
    <img style="width:100px" src="/storage/chrome.svg">
</div>
</body>
<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
</html>