<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uploading Photos</title>
</head>
<body>
<div id="form">
    <input id="file" name="file" type="file" multiple>
    <button id="upload" type="button" onclick="upload(0)">upload</button>
</div>
<div id="message"></div>
<script>
    function upload(i){


        var formData = new FormData();
        formData.append('photo', $('#file')[0].files[i]);
        $.ajax({
            url: '/media/gallery/upload',
            type: 'POST',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            async: true,
            xhr: function()
            {
                var xhr = new window.XMLHttpRequest();
                //Upload progress
                xhr.upload.addEventListener("progress", function(evt){
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        showMessage(percentComplete*100 + "%");
                    }
                }, false);
                xhr.upload.addEventListener("load", function(evt){
                    showMessage("处理中，请稍后。");
                }, false);
                return xhr;
            },
            success: function(res) {
                if(i+1 >= $('#file')[0].files.length){
                    showMessage("上传完成！");
                    return;
                }
                cleanMessage();
                showMessage($('#file')[0].files[i].name + "已上传完成。即将上传第"+(i+2)+"个，一共"+($('#file')[0].files.length)+"个");
                upload(i+1);
            },
            error: function(res) {
                showMessage($('#file')[0].files[i].name + "上传时发生错误");
            }
        });
    }
    function cleanMessage(){
        document.getElementById("message").innerHTML = "";
    }
    function showMessage(mes){
        document.getElementById("message").innerHTML += "<br/>" + mes;
    }
</script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
</body>
</html>